@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


* {
  box-sizing: border-box;
}
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  background-color: rgba(36, 35, 86, 0.2);
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 1rem;
  background-color: rgba(86, 17, 28, 0.8);
  box-shadow: 3px 3px 3px 3px #808080;
  color: #ffffff;
  
}
header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header > ul li {
  margin-right: 10px;
}
header > ul li:hover {
  cursor: pointer;
}
header > ul img {
  height: 2.5rem;
  border-radius: 50%;
}
main {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  display: block;
  background-color: grey;
  color: white;
  width: 11rem;
  height: 80px;
  font-size: 20px;
    padding: 5px;
    border-radius: 5px;

}

button:hover {
  background-color: black;
  box-shadow: 2px;
  color: white;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}

.name {
  font-size: 25px;
}

textarea {
  width: 200px;
  height: 100px;
  resize: none;
}

.imgs {
  border-radius: 5px;
  width: 440px;
  height: 660px;
}

form > input {
  border-radius: 5px;
}